@font-face {
font-family: 'Roboto';
src: url('roboto_ultra-bold.woff')/*tpa=http://s.lpmtr.ru/web/user/fonts/roboto/roboto_ultra-bold.woff*/ format('woff'); url('roboto_ultra-bold.ttf')/*tpa=http://s.lpmtr.ru/web/user/fonts/roboto/roboto_ultra-bold.ttf*/ format('ttf');
font-weight: 900;
font-style: normal;
}