@font-face {
font-family: 'Rubik';
src: url('rubik_normal.woff2')/*tpa=http://s.lpmtr.ru/web/user/fonts/rubik/rubik_normal.woff2*/ format('woff2'); url('rubik_normal.woff')/*tpa=http://s.lpmtr.ru/web/user/fonts/rubik/rubik_normal.woff*/ format('woff');
font-weight: 400;
font-style: normal;
}